<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="O Sisegupe é um observatório que congrega os projetos desenvolvidos pelos alunos egressos da UPE Campus Garanhuns, oferecendo publicidade e servindo de vitrine para os egressos e seus respectivos projetos.">
  <meta name="author" content="Kelvin Vasconcelos, Lucas Henrique, Luiz Gustavo e Muryllo Pimenta">

	<meta property="og:site_name" content="Observatório Sisegupe - Projetos de alunos egressos da UPE" />
	<meta property="og:site" content="https://sisegupe.observatorio.site/" /> 
	<meta property="og:title" content="Observatório Sisegupe - Projetos de alunos egressos da UPE"/> 
	<meta property="og:description" content="O Sisegupe é um observatório que congrega os projetos desenvolvidos pelos alunos egressos da UPE Campus Garanhuns, oferecendo publicidade e servindo de vitrine para os egressos e seus respectivos projetos." />
	<meta property="og:image" content="https://i.imgur.com/VmVpyxJ.png" /> 
	<meta property="og:url" content="https://sisegupe.observatorio.site/" /> 
	<meta property="og:type" content="article" />
  <title>Sisegupe Observatório</title>
  
  <style type="text/css">
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    #content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0px;
    }
  </style>
</head>

<body>
  <div id="content">
    <iframe 
      width="100%" 
      height="100%" 
      frameborder="0" 
      src="https://sisegupe.vercel.app/">
    </iframe>
  </div>
</body>
</html>